body {
    width: 100%;
    height: 100%;
    background-color: rgb(98 166 255);
    display: flex;
    justify-content: center;
}
#saper_div{
    margin-top: 100px;
    width: 600px;
    height: 600px;
    border: 2px solid rgb(3, 2, 2);
    border-radius: 5px;
}

#score_div {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid black;
    background-color: #ffda9d;
}

#points {
    display: flex;
}

#pointsDiv {
    font-family: 'Tourney', cursive;
    display: flex;
    font-size: 20px;
}

#bar {
    margin-top: 15px;
    border: 2px solid black;
    width: 30%;
    height: 35%
}

#life {
    width: 100%;
    height: 100%;
    background-color: green;
    transition: 0.5s;
}

#game_div {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(12%, 1fr));
    grid-template-rows: repeat(auto-fill,minmax(12%));
    grid-gap: 0;
}

#game_div>div {
    background-color: floralwhite;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

.rotate {
    animation: rotate 0.9s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}